<div class="container-fluid ">
  <div class="text-center form">
    <main class="form-signin  m-auto ">

      <form [formGroup]="companyRegisterForm">

        <h1 class="h3 mb-3 fw-normal">Cadastro Prestador</h1>

        <div class="input_box">
          <div class="form-floating form-item">
            <input formControlName="socialReason" type="text" class="form-control " id="floatingInput" placeholder="Razao Social" [class.is-invalid]="checkReason()">
            <label>Razão Social </label>
            <small *ngIf="checkReason()" class="text-danger text-start d-block mt-1">*Campo Obrigatório</small>
          </div>

          <div class="form-floating form-item">
            <input formControlName="fantasyName" type="text" class="form-control" id="floatingInput" placeholder="Nome Fantasia" [class.is-invalid]="checkFantasyName()">
            <label>Nome Fantasia</label>
            <small *ngIf="checkFantasyName()" class="text-danger text-start d-block mt-1">*Campo Obrigatório</small>
          </div>

          <div class="form-floating form-item">
            <select formControlName="typePerson" class="form-select" id="floatingSelect" aria-label="Tipo pessoa" [class.is-invalid]="checkTypePerson()">
              <option selected disabled></option>
              <option value="1">Física</option>
              <option value="2">Jurídica</option>
            </select>
            <label for="floatingSelect">Tipo pessoa: </label>
            <small *ngIf="checkTypePerson()" class="text-danger text-start d-block mt-1">*Campo Obrigatório</small>
          </div>

          <div class="form-floating form-item">
            <input formControlName="cpfCnpj" type="text" class="form-control" id="floatingInput" placeholder="CPF ou CNPJ " [class.is-invalid]="checkCpfCnpj()">
            <label> CPF/CNPJ </label>
            <small *ngIf="checkCpfCnpj()" class="text-danger text-start d-block mt-1">*Campo Obrigatório</small>
            <small *ngIf="checkCpfCnpjValid()" class="text-danger text-start d-block mt-1">*Digite um CPF ou CNPJ valido</small>

          </div>

          <div class="form-floating form-item">
            <input formControlName="address" type="text" class="form-control" id="floatingInput" placeholder="Endereço" [class.is-invalid]="checkAddress()" >
            <label> Endereço </label>
            <small *ngIf="checkAddress()" class="text-danger text-start d-block mt-1">*Campo Obrigatório</small>
          </div>

          <div class="form-floating form-item">
            <input type="text" class="form-control" id="floatingInput" placeholder="Complemento">
            <label> Complemento </label>
          </div>

          <div class="form-floating form-item">
            <input formControlName="neighborhood" type="text" class="form-control" id="floatingInput" placeholder="Bairro" [class.is-invalid]="checkNeighborhood()">
            <label> Bairro </label>
            <small *ngIf="checkNeighborhood()" class="text-danger text-start d-block mt-1">*Campo Obrigatório</small>
          </div>

          <div class="form-floating form-item">
            <input formControlName="city" type="text" class="form-control" id="floatingInput" placeholder="Cidade" [class.is-invalid]="checkCity()">
            <label> Cidade e Estado  </label>
            <small *ngIf="checkCity()" class="text-danger text-start d-block mt-1">*Campo Obrigatório</small>
          </div>

          <div class="form-floating form-item">
            <input formControlName="cep" type="text" class="form-control" id="floatingInput" placeholder="CEP" [class.is-invalid]="checkCep() || checkCepValid()" >
            <label> CEP </label>
            <small *ngIf="checkCep()" class="text-danger text-start d-block mt-1">*Campo Obrigatório</small>
            <small *ngIf="checkCepValid()" class="text-danger text-start d-block mt-1">*Digite um Cep Valido</small>
          </div>

          <div class="form-floating form-item">
            <input formControlName="number" type="text" class="form-control" id="floatingInput" placeholder="CEP" [class.is-invalid]="checkNumber()">
            <label> Número </label>
            <small *ngIf="checkNumber()" class="text-danger text-start d-block mt-1">*Campo Obrigatório</small>
          </div>

          <div class="form-floating form-item">
            <select formControlName="occupation" class="form-select" id="floatingSelect" aria-label="Atuação" [class.is-invalid]="checkOccupation()">
              <option selected disabled></option>
              <option value="1">atuacao</option>
            </select>
            <label for="floatingSelect">Atuação: </label>
            <small *ngIf="checkOccupation()" class="text-danger text-start d-block mt-1">*Campo Obrigatório</small>
          </div>

          <div class="form-floating form-item">
            <select formControlName="specialization" class="form-select" id="floatingSelect" aria-label="Especialização" [class.is-invalid]="checkSpecialization()">
              <option selected disabled></option>
              <option value="1">Especializações</option>
            </select>
            <label for="floatingSelect">Especialização: </label>
            <small *ngIf="checkSpecialization()" class="text-danger text-start d-block mt-1">*Campo Obrigatório</small>
          </div>

          <div class="form-floating form-item">
            <input type="text" class="form-control" id="floatingInput" placeholder="Url do site">
            <label> Url do site </label>
          </div>

          <div class="mb-3">
            <label for="formFile" class="form-label text-start d-block">Escolha uma imagem que represente sua empresa: </label>
            <input formControlName="image" class="form-control" type="file" id="formFile" [class.is-invalid]="checkImage()">
            <small *ngIf="checkImage()" class="text-danger text-start d-block mt-1">*Campo Obrigatório</small>
          </div>

        </div>

        <div class="form-check my-4 text-start">

          <input formControlName="terms" type="checkbox" value="remember-me" class="form-check-input" required>
          <label class="form-check-label" for="exampleCheck1">Termo de privacidade</label>
          <small *ngIf="checkTerm()" class="text-danger text-start d-block mt-1">*Campo Obrigatório</small>

        </div>

        <button class="btn btn-lg btn-warning text-white" type="submit" (click)="onSubmit()">Enviar Pedido</button>

        <p class="cadastro mt-4"> Já é um dos nossos parceiros ? <a routerLink="/login"><span>Fazer Login</span></a></p>

        <p class="my-3 text-body-secondary">&copy; Aupets 2023</p>


      </form>
    </main>
  </div>
</div>
