<div class="container-fluid ">
    <div class="text-center form">
        <main class="form-signin  m-auto ">

            <form>
                <h1 class="h3 mb-3 fw-normal">Cadastro Prestador</h1>

                <div class="input_box">
                    <div class="form-floating form-item">
                        <input type="text" class="form-control " id="floatingInput" placeholder="Razao Social">
                        <label>Razão Social </label>
                    </div>

                    <div class="form-floating form-item">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Nome Fantasia">
                        <label>Nome Fantasia</label>
                    </div>

                    <div class="form-floating form-item">
                        <select class="form-select" id="floatingSelect" aria-label="Tipo pessoa">
                            <option selected disabled></option>
                            <option value="1">Física</option>
                            <option value="2">Jurídica</option>
                        </select>
                        <label for="floatingSelect">Tipo pessoa: </label>
                    </div>

                    <div class="form-floating form-item">
                        <input type="text" class="form-control" id="floatingInput" placeholder="CPF ou CNPJ ">
                        <label> CPF/CNPJ </label>
                    </div>

                    <div class="form-floating form-item">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Endereço">
                        <label> Endereço </label>
                    </div>

                    <div class="form-floating form-item">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Complemento">
                        <label> Complemento </label>
                    </div>

                    <div class="form-floating form-item">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Bairro">
                        <label> Bairro </label>
                    </div>

                    <div class="form-floating form-item">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Cidade">
                        <label> Cidade </label>
                    </div>

                    <div class="form-floating form-item">
                        <input type="text" class="form-control" id="floatingInput" placeholder="CEP">
                        <label> CEP </label>
                    </div>

                    <div class="form-floating form-item">
                        <input type="text" class="form-control" id="floatingInput" placeholder="CEP">
                        <label> Número </label>
                    </div>

                    <div class="form-floating form-item">
                        <select class="form-select" id="floatingSelect" aria-label="Atuação">
                            <option selected disabled></option>
                            <option value="1">atuacao</option>
                        </select>
                        <label for="floatingSelect">Atuação: </label>
                    </div>

                    <div class="form-floating form-item">
                        <select class="form-select" id="floatingSelect" aria-label="Especialização">
                            <option selected disabled></option>
                            <option value="1">Especializações</option>
                        </select>
                        <label for="floatingSelect">Especialização: </label>
                    </div>

                    <div class="form-floating form-item">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Url do site">
                        <label> Url do site </label>
                    </div>

                    <div class="form-floating form-item">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Imagem">
                        <label> AQUI VAI A IMAGEM </label>
                    </div>

                </div>

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Termo de Privacidade
                    </label>
                </div>

                <p class="cadastro"> Já possui uma conta ? <a routerLink="/login"><span>Fazer Login</span></a></p>

                <button class="btn btn-lg btn-primary button" type="submit">Entrar</button>
                <p class="mt-5 mb-3 text-body-secondary">&copy; Aupets 2023</p>
            </form>
        </main>
    </div>
</div>