<div class="container">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a routerLink="." [fragment]="'servicos'" skipLocationChange class="nav-link px-2 text-warning">Serviços</a></li>
        <li class="nav-item"><a routerLink="." [fragment]="'parceiros'" skipLocationChange class="nav-link px-2 text-warning">Parceiros</a></li>
        <li class="nav-item"><a routerLink="/login" class="nav-link px-2 text-warning">Login</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-warning">Cadastrar</a></li>
      </ul>
      <p class="text-center text-body-secondary">&copy; 2023 Aupets Company, Inc</p>
    </footer>
  </div>
