<!-- Menu -->

    <app-menu></app-menu>



<!-- Masthead-->

<header class="masthead ">
  <div class="container">
    <div class="masthead-subheading">Bem vindo ao Aupets</div>
    <div class="masthead-heading">Venha ser nosso parceiro</div>
    <a class="btn btn-dark btn-lg text-uppercase custom-button" [routerLink]="authService.isLogged() ? ['/cadastro-prestador'] : ['/login']" >Eu
      quero!</a>
  </div>
</header>


<!-- Services-->
<section class="page-section" id="servicos">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Espécies Atendidas</h2>
    </div>

    <div class="row text-center">


      <div class="col-lg-2">
        <a href="">
        <img src="../../../assets/img/servicos/GatoeCachorro.png" alt="" class="image-card">
        </a>
          <title>Placeholder</title>
      </div>

      <div class="col-lg-2">
          <a href="">
          <img src="../../../assets/img/servicos/Passaro.png" alt="" class="image-card">
          </a>
          <title>Placeholder</title>
      </div>

      <div class="col-lg-2">
          <a href="">
          <img src="../../../assets/img/servicos/Peixe.png" alt="" class="image-card">
          </a>
          <title>Placeholder</title>
      </div>

      <div class="col-lg-2">
        <a href="">
        <img src="../../../assets/img/servicos/Coelho.png" alt="" class="image-card">
        </a>
          <title>Placeholder</title>
      </div>

      <div class="col-lg-2">
        <a href="">
        <img src="../../../assets/img/servicos/Rato.png" alt="" class="image-card">
        </a> 
          <title>Placeholder</title>
      </div>

      <div class="col-lg-2">
        <a href="">
        <img src="../../../assets/img/servicos/Tartaruga.png" alt="" class="image-card">
        </a>
          <title>Placeholder</title>
      </div>

    </div>


  </div>

</section>

<!--Parceiros-->

<section class="page-section" id="parceiros">
  <div class="container">
    <div class="text-center">

      <h2 class="section-heading text-uppercase">Nossos Parceiros</h2>

    </div>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

      <div class="col" *ngFor="let prestador of prestadores">

        <div class="card shadow-sm" style="max-height: 350px; max-width: 400px;"  >
          <img class="bd-placeholder-img card-img-top" src="{{prestador.imagem}}" alt="" width="100%" height="225">
            <title>Card Prestador</title>
          <div class="card-body">
            <h5 class="card-title"> {{prestador.nomeFantasia}} </h5>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a type="button" class="btn btn-dark" (click)="redirectToPrestPage(prestador.id)">Saiba mais</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>

<!--Trabalhe conosco -->

<section class="page-section" id="trabalheConosco">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Trabalhe conosco</h2>

      <a [routerLink]="authService.isLogged() ? ['/cadastro-prestador'] : ['/login']" class="btn btn-warning btn-lg text-white">Quero ser Parceiro!</a>
    </div>
  </div>
</section>

<!--Footer-->


    <app-footer></app-footer>

