<!-- Masthead-->
<header class="masthead ">
  <div class="container">
    <div class="masthead-subheading">Bem vindo ao Aupets</div>
    <div class="masthead-heading">Venha ser nosso parceiro</div>
    <a class="btn btn-dark btn-xl text-uppercase" href="#trabalheConosco">Saiba Mais</a>
  </div>
</header>

<!-- Services-->
<section class="page-section" id="servicos">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Serviços Oferecidos</h2>

      <div class="card" style="width: 18rem;">
        <img src="assets/img/medicine-pet.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Veterinario</h5>

          <a href="#" class="btn btn-primary">Ver Serviços</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Parceiros-->

<section class="page-section" id="parceiros">
  <div class="container">
    <div class="text-center">

      <h2 class="section-heading text-uppercase">Nossos Parceiros</h2>

      <div class="card mb-3" style="width: 500px;">
        <img src="assets/img/cards/mudbay.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">MudBay-PetShop</h5>
          <a href="#" class="btn btn-primary">Saiba mais</a>
        </div>
      </div>

      <h2 class="section-heading text-uppercase">Trabalhe conosco</h2>

      <a href="#" class="btn btn-primary btn-lg" id="trabalheConosco">Quero ser Parceiro!</a>

    </div>
  </div>
</section>
