<!-- Menu -->

    <app-menu></app-menu>



<!-- Masthead-->

<header class="masthead ">
  <div class="container">
    <div class="masthead-subheading">Bem vindo ao Aupets</div>
    <div class="masthead-heading">Venha ser nosso parceiro</div>
    <a class="btn btn-dark btn-lg text-uppercase custom-button" routerLink="/cadastro-prestador" >Eu
      quero!</a>
  </div>
</header>


<!-- Services-->
<section class="page-section" id="servicos">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Serviços Oferecidos</h2>
    </div>

    <div class="row text-center">


      <div class="col-lg-3">
        <img src="../../../assets/img/servicos/adestramento.jpg" alt="" class="image-card">
          <title>Placeholder</title>
        <h2 class="fw-normal">Adestramento</h2>
        <p> Ajuda a melhorar a convivência entre os humanos e animais.</p>
        <p><a class="btn btn-warning text-white" href="#">Ver serviços </a></p>
      </div>

      <div class="col-lg-3">
          <img src="../../../assets/img/servicos/tosa.jpg" alt="" class="image-card">
          <title>Placeholder</title>
        <h2 class="fw-normal">Banho e Tosa</h2>
        <p>Deixe seu pet limpinho e cheiroso com os serviços de banho e tosa.</p>
        <p><a class="btn btn-warning text-white" href="#">Ver serviços </a></p>
      </div>

      <div class="col-lg-3">
          <img src="../../../assets/img/servicos/veterinario.jpg" alt="" class="image-card">
          <title>Placeholder</title>
        <h2 class="fw-normal">Veterinário</h2>
        <p>Mostre que ama seu pet, de o cuidado que ele merece.</p>
        <p><a class="btn btn-warning text-white" href="#">Ver serviços </a></p>
      </div>

      <div class="col-lg-3">
        <img src="../../../assets/img/servicos/petshop.jpg" alt="" class="image-card">
          <title>Placeholder</title>
        <h2 class="fw-normal">Pet Shop</h2>
        <p>Precisa de um brinquedo novo, ou ração nova ? Veja pet shops que podem ajudar.</p>
        <p><a class="btn btn-warning text-white" href="#">Ver serviços</a></p>
      </div>


    </div>


  </div>

</section>

<!--Parceiros-->

<section class="page-section" id="parceiros">
  <div class="container">
    <div class="text-center">

      <h2 class="section-heading text-uppercase">Nossos Parceiros</h2>

    </div>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

      <div class="col">
        <div class="card shadow-sm" style="max-height: 350px;">
          <img class="bd-placeholder-img card-img-top" src="../../../assets/img/cards/mudbay.jpg" alt="" width="100%" height="225">
            <title>Card Prestador</title>

          <div class="card-body">
            <h5 class="card-title">MudBay - For healthy dogs and cats </h5>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a type="button" class="btn btn-dark" (click)="goToNextPage()" routerLink="/prestador">Saiba mais</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
            role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
              dy=".3em">Thumbnail</text>
          </svg>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a type="button" class="btn btn-dark" href="#">Saiba mais</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
            role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
              dy=".3em">Thumbnail</text>
          </svg>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a type="button" class="btn btn-dark" href="#">Saiba mais</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>

<!--Trabalhe conosco -->

<section class="page-section" id="trabalheConosco">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Trabalhe conosco</h2>

      <a routerLink="/cadastro-prestador" class="btn btn-warning btn-lg text-white">Quero ser Parceiro!</a>
    </div>
  </div>
</section>

<!--Footer-->


    <app-footer></app-footer>

