header {
  background-color: rgb(31, 31, 31);
  height: 350px;
}

.nome-empresa{
  display: flex;
  text-align: center;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nome-empresa h3 {
  font-size: 40px;
}

.nome-empresa a{
  font-size: 30px;
  color: white;
}

.header-img{
  display: flex;
  justify-content: center;
}

.imagem-empresa {
  position: absolute;
  top: 150px;
  width: 70%;
  height: 500px;
}

.about{
  display: flex;
  margin: 0 auto;
  margin-top: 350px;
  width: 70%;
}

.page-section {
  padding: 4rem 0;
}

.page-section h2.section-heading,
.page-section .section-heading.h2 {
  font-size: 2rem;
  margin-bottom: 3rem;
  font-weight: 600;
}

.go-back{
  text-decoration: none;
  color: white;
  font-size: 30px;
}



