<body>

    <div class="sidebar">
        <div class="logo-content">
            <div class="logo">
                <i class='bx bxs-dog'></i>
                <h3>Aupets</h3>
            </div>
            <i class='bx bx-menu' id="btn"></i>
        </div>

        <!-- repete sa coisa -->
        <ul class="list">
            <li class="list-item">
                <a href="#">
                    <span class="links-name">Dashboard</span>
                </a>
            </li>
        </ul>
    </div>
</body>