<body>

    <div class="sidebar">
        <div class="logo-content">
            <div class="logo">
                <i class='bx bxs-dog'></i>
                <h3>Aupets</h3>
            </div>
        </div>

        <ul class="list">
            <li class="list-item ActiveLink">
                <a class="nav-link" routerLink="/admin" routerLinkActive="active"
                  [routerLinkActiveOptions]="{exact: true}">
                    <i class='bx bxs-dashboard'></i>
                    <span class="links-name">Dashboard</span>
                </a>
            </li>
            <li class="list-item">
                <a class="nav-link" routerLink="/admin/perfil"  routerLinkActive="active"
                  [routerLinkActiveOptions]="{exact: true}"  >
                  <i class='bx bxs-user'></i>
                    <span class="links-name">Perfil</span>
                </a>
            </li>
            <li class="list-item">
                <a class="nav-link" routerLink="/admin/notificacoes" routerLinkActive="active"
                  [routerLinkActiveOptions]="{exact: true}">
                    <i class='bx bxs-bell' ></i>
                    <span class="links-name">Notificações</span>
                </a>
            </li>
        </ul>

        <ul class="list-logout">
            <li>
                <a routerLink="/home">
                    <i class='bx bx-log-out'></i>
                    <span class="links-name">Logout</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="content">
       <app-dashboard></app-dashboard>
    </div>

</body>
