<body>

    <div class="sidebar">
        <div class="logo-content">
            <div class="logo">
                <i class='bx bxs-dog'></i>
                <h3>Aupets</h3>
            </div>
        </div>

        <ul class="list">
            <li class="list-item">
                <a href="#">
                    <i class='bx bxs-invader'></i>
                    <span class="links-name">Dashboard</span>
                </a>
            </li>
            <li class="list-item">
                <a href="#">
                    <i class='bx bxs-invader'></i>
                    <span class="links-name">Dashboard 2</span>
                </a>
            </li>
            <li class="list-item">
                <a href="#">
                    <i class='bx bxs-invader'></i>
                    <span class="links-name">Dashboard 3</span>
                </a>
            </li>
            <li class="list-item">
                <a href="#">
                    <i class='bx bxs-invader'></i>
                    <span class="links-name">Dashboard 4</span>
                </a>
            </li>
        </ul>

        <ul class="list-logout">
            <li>
                <a href="#">
                    <i class='bx bx-log-out'></i>
                    <span class="links-name">Logout</span>
                </a>
            </li>
        </ul>
    </div>

</body>