<div class="container-fluid ">
  <div class="text-center form">
    <main class="form-signin  m-auto" style="width: 400px; ">

      <form>
        <h1 class="h3 mb-3 fw-normal">Criar conta</h1>


        <div class="form-floating form-item">
          <input type="text" class="form-control " id="floatingInput" placeholder="Seu nome">
          <label >Nome </label>
        </div>

        <div class="form-floating form-item">
          <input type="email" class="form-control " id="floatingInput" placeholder="name@example.com">
          <label >Email </label>
        </div>

        <div class="form-floating form-item">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Senha</label>
        </div>

        <div class="form-floating form-item">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Confirme a senha</label>
        </div>

        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="privacity"> Termo de privacidade
          </label>
        </div>
        <p class="cadastro"> Já possui uma conta ? <a routerLink="/login"><span>Fazer login</span></a></p>

        <button class="btn btn-lg btn-warning button text-white" type="submit">Criar conta</button>
        <p class="mt-5 mb-3 text-body-secondary">&copy; Aupets 2023</p>
      </form>
    </main>
  </div>
</div>
