<body>

  <div class="sidebar">
    <div class="logo-content">
      <div class="logo">
        <i class='bx bxs-dog'></i>
        <h3>Aupets</h3>
      </div>
    </div>

    <ul class="list">
      <li class="list-item ActiveLink">
        <a class="nav-link" routerLink="/admin" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <i class='bx bxs-dashboard'></i>
          <span class="links-name">Dashboard</span>
        </a>
      </li>
      <li class="list-item">
        <a class="nav-link" routerLink="/admin/perfil" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">
          <i class='bx bxs-user'></i>
          <span class="links-name">Perfil</span>
        </a>
      </li>
      <li class="list-item">
        <a class="nav-link" routerLink="/admin/notificacoes" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">
          <i class='bx bxs-bell'></i>
          <span class="links-name">Notificações</span>
        </a>
      </li>
    </ul>

    <ul class="list-logout">
      <li>
        <a routerLink="/home">
          <i class='bx bx-left-arrow-alt'></i>
          <span class="links-name">Retornar</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="content">
    <div class="container">
      <div class="form">

        <form [formGroup]="userForm">
          <div class="form-header">
            <div class="title">
              <h1>Perfil</h1>
              <hr>
            </div>

          </div>


          <div class="input-group">
            <div class="input-box">
              <label for="email">E-mail</label>
              <input formControlName="email" type="email" name="email">
            </div>

            <div class="input-box">
              <label for="nome">Nome</label>
              <input formControlName="nome" type="text" name="nome">
            </div>

            <div class="input-box">
              <label for="senha">Senha</label>
              <input formControlName="senha" type="password" name="senha">
            </div>

            <div class="input-box">
              <label for="nomeFantasia">Nome Fantasia</label>
              <input formControlName="nomeFantasia" type="text" name="nomeFantasia">
            </div>
            <div class="input-box">
              <label for="razaoSocial">Razão Social</label>
              <input formControlName="razaoSocial" type="text" name="razaoSocial">
            </div>

            <div class="input-box">
              <label for="endereco">Endereço</label>
              <input formControlName="endereco" type="text" name="endereco">
            </div>

            <div class="input-box">
              <label for="complemento">Complemento</label>
              <input formControlName="complemento" type="text" name="complemento">
            </div>

            <div class="input-box">
              <label for="bairro">Bairro</label>
              <input formControlName="bairro" type="text" name="bairro">
            </div>

            <div class="input-box">
              <label for="cidade">Cidade e Estado</label>
              <input formControlName="cidade" type="text" name="cidade">
            </div>

            <div class="input-box">
              <label for="cep">Cep</label>
              <input formControlName="cep" type="text" name="cep">
            </div>

            <div class="input-box">
              <label for="numero">Número</label>
              <input formControlName="numero" type="number" name="numero">
            </div>

            <div class="input-box">
              <label for="urlSite">Url site (midia social)</label>
              <input formControlName="urlSite" type="text" name="urlSite">
            </div>

            <div class="">
              <label for="imagem" class="form-label text-start d-block">Alterar imagem: </label>
              <input formControlName="imagem" class="form-control image" type="file">
            </div>

          </div>

          <div class="continue-button">
            <button> Salvar </button>
          </div>

        </form>


      </div>
    </div>
  </div>

</body>